{% extends 'registration/base.html' %}

{% block content %}
<section class="flex flex-col items-center max-w-sm w-full">
  <div class="mb-6">
    <h2 class="text-center text-3xl font-bold text-gray-900">Log in</h2>
  </div>
  <div class="bg-white shadow p-8 rounded-lg w-full">
    <form method="post">
      {% csrf_token %}

      <div class="mb-6 flex flex-col w-full">
        <label
          for="{{ form.username.id_for_label }}"
          class="text-gray-700 text-sm mb-1 font-semibold"
        >
          {{ form.username.label }}
        </label>
        <input
          class="appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
          type="text"
          name="{{ form.username.name }}"
          autofocus
          required
          autocapitalize="none"
          autocomplete="username"
          maxlength="254"
          id="{{form.username.id_for_label }}"
        />
      </div>

      <div class="mb-6 flex flex-col w-full">
        <label
          for="{{ form.password.id_for_label }}"
          class="text-gray-700 text-sm mb-1 font-semibold"
        >
          {{ form.password.label }}
        </label>
        <input
          class="appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
          type="password"
          name="{{ form.password.name }}"
          autocomplete="current-password"
          required
          id="{{ form.password.id_for_label }}"
        />
      </div>
      <button
        class="mt-4 relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
        type="submit">Log in</button>
    </form>
  </div>
  {% if form.non_field_errors %}
  <div role="alert" aria-atomic="true" class="text-red-600 mt-4">
    {{ form.non_field_errors }}
  </div>
  {% endif %}
  <p class="mt-4 text-center text-sm text-gray-600">
    Don't have an account?
    <a class="font-medium text-blue-600 hover:text-blue-500" href="/account/signup">Sign up</a>
  </p>
</section>
{% endblock %}
